WebRoot/schema/userInfo.xsd

<?xml version="1.0" encoding="gb2312"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="userInfo">
		<xs:complexType>
			<xs:attribute name="username" type="xs:string" use="required"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
			<xs:attribute name="taskid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
